@import "default-theme.css";

body,html {
    margin: 0;
    padding: 0;
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: var(--font-medium);
    flex-wrap: wrap;
}

main{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Header */
header {
    line-height: 50px;
    margin: 35px;
    font-size: var(--font-large);
}

.view-high-score {
    display: inline;
    color: var(--primary-color);
    font-size: var(--font-large);
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.timer-countdown {
    display: inline;
    float: right;
    margin-right: 20px;
}

/* Code quiz containers */
#intro-page, #quiz-container, #result, #high-score{
    display: block;
    margin: 70px auto;
    text-align: center;
    width: 700px;
    flex: wrap;
}

.hidden {
    display: none !important;
}


.titles {
    margin: 10px;
    padding: 20px;
}

.instructions {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

.button {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--primary-color);
    border: none; 
    border-radius: 5px;  
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: var(--font-medium);
    font-family: var(--font-family);
    width:200px;
}

.button:hover {
    background-color: var(--secondary-color);
}

.questions, .left-title {
    font-size: var(--font-large);
    text-align: left;
    padding: 25px;
    padding-bottom: 0;
    margin: 10px;
}

.choices ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.choices ul li {
    text-align: left;
}

/* Choices button */
#answer-0, #answer-1, #answer-2, #answer-3 {
    display: block;
    width: 185px;
    margin-left: 30px;
    font-family: var(--font-family);
}

/* Answer checker */
.answer-check p {
    margin: 5px;
    padding: 15px;
    border-top: 1px solid #CCC;
    font-size: var(--font-large);
    font-style: italic;
    color: #999;
}

.display-final-score, .input-initials {
    text-align: left;
    margin-left: 30px;
}

/* Input page */
#initials {
    width: 300px;
    border: 1px solid #000;
    font-size: var(--font-medium);
    font-family: var(--font-family);
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;;
}

/* Highscore page */
.saved-initial-score ol {
    text-align: left;
    padding: 25px;
    margin: 20px;
}

#all-time-high-scores {
    text-align: initial;
}
#submit-btn, #back-btn, #clear-btn {
    padding: 7px;
}

/* Responsive */
@media (max-width: 680px) {
    header {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;

    }

    .view-high-score {
        display: inline;
        margin-left: 20px;
    }
    
    .timer-countdown {
        margin-top: 5px;
    }

    #intro-page, #quiz-container, #result, #high-score{
        width: 100%;
    }
}

@media (max-width:1024px) {
    header, .instructions, .display-final-score, .input-initials, .saved-initial-score {
        font-size: var(--font-large);
    }
    .button {
        font-size:var(--font-large);
        padding: 5px 15px;
    }
    #submit-btn, #back-btn, #clear-btn {
        padding: 4px 10px;
    }
}