@import "default-theme.css";

body,html {
    margin: 0;
    padding: 0;
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: var(--font-medium);
    flex-wrap: wrap;
}

header {
    background-color: lightgrey;
    line-height: 50px;
    margin: 35px;
    font-size: var(--font-large);
}

.view-high-score {
    display: inline;
    color: var(--primary-color);
}

.timer-countdown {
    display: inline;
    float: right;
    margin-right: 20px;
}

#intro-page, #quiz-questions, #result, #high-score{
    display: block;
    margin: 70px auto;
    text-align: center;
    width: 700px;
    background-color: lightgrey;
    flex: wrap;
}

.titles {
    margin: 10px;
    padding: 20px;
}

.instructions {
    margin: 10px;
    padding: 10px;
}

.button {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--primary-color);
    border: none; 
    border-radius: 15px;  
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: var(--font-medium);
    font-family: var(--font-family);
}

.button:hover {
    background-color: var(--secondary-color);
}

.questions, .left-title {
    font-size: var(--font-large);
    text-align: left;
    padding: 25px;
    padding-bottom: 0;
    margin: 10px;
}

.options ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.options ul li {
    text-align: left;
}

#answer-1, #answer-2, #answer-3, #answer-4 {
    display: block;
    width: 150px;
    margin-left: 30px;
    font-family: var(--font-family);
}

.answer-check p {
    margin: 5px;
    padding: 15px;
    border-top: 1px solid grey;
}

.display-final-score, .input-initials {
    text-align: left;
    margin-left: 30px;
}
#initials {
    width: 300px;
    font-size: var(--font-medium);
    font-family: var(--font-family);
}
.saved-initial-score {
    text-align: left;
}
#submit-btn, #back-btn, #clear-btn {
    padding: 8px 25px;
}

@media (max-width: 680px) {
    #intro-page, #quiz-questions, #result, #high-score{
        width: 450px;
    }
}

@media (max-width:1024px) {
    header {
        font-size: var(--font-large);
    }
    #intro-page, #quiz-questions, #result, #high-score{
        font-size: var(--font-large);
    }
    .instructions {
       font-size:var(--font-large);
    }
    .button {
        font-size:var(--font-large);
    }

}